REVENUE_LAUNCH_2026/03_MARKETPLACES/n8n/n8n_complete_package/premium/lyrics-to-storyboard.json
{
  "name": "Lyrics → Storyboard & Prompts",
  "active": false,
  "nodes": [
    {"parameters": {"path": "digital-dive/lyrics", "responseMode": "onReceived", "responseData": "json"}, "id": "Webhook1", "name": "Webhook (POST lyrics)", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [300, 300]},
    {"parameters": {"functionCode": "const body = items[0].json;\nconst title = body.title || 'Untitled';\nconst text = body.lyrics || '';\nreturn [{ json: { title, tempPath: `/tmp/lyrics_${Date.now()}.txt`, text } }];"}, "id": "Func1", "name": "Prepare Input", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [540, 300]},
    {"parameters": {"fileName": "={{$json.tempPath}}", "fileContent": "={{$json.text}}"}, "id": "Write1", "name": "Write Lyrics Temp", "type": "n8n-nodes-base.writeBinaryFile", "typeVersion": 1, "position": [760, 300]},
    {"parameters": {"command": "python3", "arguments": ["/Users/steven/ai-sites/content-management/retention-hub/digital-dive/scripts/lyrics_to_storyboard.py", "={{$json.title}}", "={{$json.tempPath}}" ]}, "id": "Exec1", "name": "Generate SB + Prompts", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [980, 300]},
    {"parameters": {"responseData": "default", "responseBody": "={'ok': true, 'title': $json.title}"}, "id": "Resp1", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1200, 300]}
  ],
  "connections": {
    "Webhook (POST lyrics)": {"main": [[{"node": "Prepare Input", "type": "main", "index": 0}]]},
    "Prepare Input": {"main": [[{"node": "Write Lyrics Temp", "type": "main", "index": 0}]]},
    "Write Lyrics Temp": {"main": [[{"node": "Generate SB + Prompts", "type": "main", "index": 0}]]},
    "Generate SB + Prompts": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  }
}
